{
  "openapi": "3.0.0",
  "info": {
    "title": "CoWork Kerala Admin Panel API",
    "version": "1.0.0",
    "description": "API documentation for CoWork Kerala Admin Panel - Manage coworking spaces, leads, and settings",
    "contact": {
      "name": "CoWork Kerala Support",
      "email": "support@coworkkerala.com"
    }
  },
  "servers": [
    {
      "url": "https://api.coworkkerala.com/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Spaces",
      "description": "Coworking space management"
    },
    {
      "name": "Leads",
      "description": "Lead management and tracking"
    },
    {
      "name": "Settings",
      "description": "User account settings"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Admin login",
        "description": "Authenticate admin user and receive JWT token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "admin@coworkkerala.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "SecurePassword123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "token": { "type": "string" },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "email": { "type": "string" },
                        "name": { "type": "string" },
                        "role": { "type": "string", "example": "admin" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Logout admin user",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Logout successful"
          }
        }
      }
    },
    "/spaces": {
      "get": {
        "tags": ["Spaces"],
        "summary": "Get all coworking spaces",
        "description": "Retrieve list of all coworking spaces with pagination and filters",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "pending"]
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Space" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Spaces"],
        "summary": "Create new coworking space",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SpaceInput" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Space" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/spaces/{id}": {
      "get": {
        "tags": ["Spaces"],
        "summary": "Get space by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Space details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Space" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "put": {
        "tags": ["Spaces"],
        "summary": "Update space",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SpaceInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated successfully"
          },
          "404": {
            "description": "Space not found"
          }
        }
      },
      "delete": {
        "tags": ["Spaces"],
        "summary": "Delete space",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Space deleted successfully"
          },
          "404": {
            "description": "Space not found"
          }
        }
      }
    },
    "/leads": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get all leads",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["new", "contacted", "qualified", "converted", "lost"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Lead" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Leads"],
        "summary": "Create new lead",
        "description": "Create a new lead from website inquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LeadInput" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Lead" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": ["Leads"],
        "summary": "Get lead by ID",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "$ref": "#/components/schemas/Lead" }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Leads"],
        "summary": "Update lead status",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "new",
                      "contacted",
                      "qualified",
                      "converted",
                      "lost"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated successfully"
          }
        }
      },
      "delete": {
        "tags": ["Leads"],
        "summary": "Delete lead",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted successfully"
          }
        }
      }
    },
    "/settings/password": {
      "put": {
        "tags": ["Settings"],
        "summary": "Update password",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currentPassword", "newPassword"],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully"
          },
          "400": {
            "description": "Invalid current password or new password doesn't meet requirements"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Space": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "SP-2025-001" },
          "spaceName": { "type": "string", "example": "WorkHub Kochi" },
          "spaceType": { "type": "string", "example": "Coworking Space" },
          "city": { "type": "string", "example": "Kochi" },
          "spaceCategory": { "type": "string", "example": "Premium" },
          "shortDescription": { "type": "string" },
          "longDescription": { "type": "string" },
          "amenities": {
            "type": "array",
            "items": { "type": "string" }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "hotDesk": { "type": "number" },
              "dedicatedDesk": { "type": "number" },
              "privateOffice": { "type": "number" }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "address": { "type": "string" },
              "pincode": { "type": "string" },
              "latitude": { "type": "number" },
              "longitude": { "type": "number" }
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "email": { "type": "string" },
              "phone": { "type": "string" }
            }
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "pending"]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "SpaceInput": {
        "type": "object",
        "required": ["spaceName", "spaceType", "city", "spaceCategory"],
        "properties": {
          "spaceName": { "type": "string" },
          "spaceType": { "type": "string" },
          "city": { "type": "string" },
          "spaceCategory": { "type": "string" },
          "shortDescription": { "type": "string" },
          "longDescription": { "type": "string" },
          "amenities": { "type": "array", "items": { "type": "string" } },
          "pricing": { "type": "object" },
          "location": { "type": "object" },
          "contact": { "type": "object" },
          "status": { "type": "string" }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "LD-2025-001" },
          "name": { "type": "string", "example": "Anjali Sharma" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string", "example": "0123 456 789" },
          "enquiredFor": { "type": "string", "example": "WorkHub Kochi" },
          "spaceType": { "type": "string", "example": "Hot Desk" },
          "numberOfSeats": { "type": "integer", "example": 5 },
          "location": { "type": "string", "example": "Kochi" },
          "message": { "type": "string" },
          "date": { "type": "string", "format": "date" },
          "status": {
            "type": "string",
            "enum": ["new", "contacted", "qualified", "converted", "lost"]
          },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "LeadInput": {
        "type": "object",
        "required": ["name", "email", "phone", "enquiredFor", "spaceType"],
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "enquiredFor": { "type": "string" },
          "spaceType": { "type": "string" },
          "numberOfSeats": { "type": "integer" },
          "location": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
